<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://marcosbarrozo.github.io/wdd330/week14/css/style.css">
</head>
<body>
    <div id="blog-container">

        <section id="blog-section">
            <ul>
                <li id="user_name">User</li>
                <li><a href="https://marcosbarrozo.github.io/wdd330/week14/views/dashboard.html" id="link">Dashboard</a>
                    </li>
            </ul>
            <h1 id="blog_title">Welcome to my Blog!</h1>
            <div id="posts">

            </div>
            
            

        </section>
    </div>

    <script src="https://marcosbarrozo.github.io/wdd330/week14/js/post.js" type="module"></script>
    
    
   
</body>
</html>