<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://marcosbarrozo.github.io/wdd330/week8/css/style.css">
</head>
<body>
    <main id="dashboard-container">
        <span class="error" aria-live="polite"></span>
        
        <section id="dashboard">
            <h1>Create New Post</h1>
            <form action="" id="create_form">
                <span class="error" aria-live="polite"></span>
                <div class="input-container">
                    <input type="text" name="title" id="title" required>
                    <label for="title" class="label">Title</label>
                    
                </div>
                <div class="input-container">
                    <textarea name="content" id="content" cols="30" rows="10"></textarea required>
                    <label for="content">Description</label>
                    
                </div>
                
                <button class="btn" id="create_btn">
                    Create Post
                </button> 
                <hr>             
            </form>
            <div class="buttons">
                <button class="btn" id="blog_btn">
                Blog
                </button> 
                <button class="btn" id="log_out">
                    Log Out
                </button> 
            </div>

          
        </section>
    
    </main>
    <script src="https://marcosbarrozo.github.io/wdd330/week8/js/dashboard.js" type="module"></script>
</body>
</html>