<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <meta name="description" content="WDD 330 - Blog. You can create your own post and chose the template for your Blog.">
    <link rel="stylesheet" href="https://marcosbarrozo.github.io/wdd330/week14/css/style.css">
</head>
<body>
    <main id="sign_up-container">
        <section id="sign_up">
            <h2>sign</h2>
            <form action="" id="sign_up_form" novalidate>
                <div class="input-container">
                    <input type="text" name="name" id="name" required>
                    <label for="name" class="label">Name</label>
                    
                </div>
                <div class="input-container">
                    <input type="email" name="email" id="email" required>
                    <label for="email" class="label">Email</label>
                    
                </div>
                <span class="error" aria-live="polite"></span>
                <div class="input-container">
                    <input type="password" name="password" id="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="input-container">
                    <input type="password" name="confirm_password" id="confirm_password" required>
                    <label for="confirm_password">Confirm Password</label>
                   
                </div>
                <button class="btn">
                    Sign Up
                </button>            
            </form>
            <p id="login-p">Already a member? <a href="https://marcosbarrozo.github.io/wdd330/week14/index.html" id="sign-up">Login</a></p>
        </section>
    </main>
   <script src="https://marcosbarrozo.github.io/wdd330/week14/js/script.js" type="module"></script>
    
</body>
</html>