*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background: linear-gradient(18deg,#30DEE6,#5C44B3);
    font-family: 'Montserrat', sans-serif;
}
.container{
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: .3rem;
    box-shadow: 0 0 .5rem .2rem rgba(0,0,0,.5);
}
#todo-container{
    min-width: 300px;
}

#todo-container .ToDo-element, #todo-container .Todo-footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#todo-container .ToDo-element{
    border: 1px solid black;
    padding: .5rem .3rem;
}
.checkbox{
    border: 1px solid black;
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    font-size: 1.5rem;
}
.task{
    margin-left: 1rem;
    margin-right: auto;
    font-size: 1.3rem;
}
.line-through{
    position: relative;
    width: 70%;
}
.line-through::after{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    height: 2px;
    background-color: #757575;
    width: 100%;
}
.delete{
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    padding: .5rem;
}

#todo-container h1{
    text-align: center;
    margin: 1rem 0;
    font-family: sans-serif;
    font-size: 2rem;
}

#todo-container .Todo-footer{
    border: 1px solid black;
    padding: .5rem;
}

#add-task{
    margin: 1rem;
}

#task{
    font-size: 1.3rem;
    padding: .5rem;
    outline: none;
}

#add-task-btn{
    padding: .5rem;
    font-size:  1.3rem;
    cursor: pointer;
    border-radius: .2rem;
    font-weight: bold;
    
}

#all, #active, #completed{
    cursor: pointer;
    padding: .5rem;
}

.active{
    border: 1px solid black;
    border-radius: .2rem;
    background-color: rgba(0,0,0,.3)
}